# Backend / Frontend
backend/node_modules/
frontend/node_modules/

# Android build outputs
android/app/build/
android/app/.cxx/
android/.idea/
android/*.iml

# IDE
.vscode/
.idea/

# Secrets
backend/.env
frontend/.env